@import"https://fonts.cdnfonts.com/css/cascadia-code";

body { 
    color: white; 
    background-color: #1e1e2e; 
    font-family: Cascadia Code; 
    display: flex; 
    height: 100vh;
    margin: 0;
}
.image-container { 
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img { 
    max-width: 300px; 
    max-height: auto;
    object-fit: cover;
    box-shadow: 3px 0 7px #313244;
    border-radius: 20px 0px 0px 20px;
    margin-left: 4%;
}
.welcome-message { 
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 36px; 
    color: #f38ba8;
    left: 590px;
    top: 190px;
}
.emails {
    color: #f38ba8;
    position: absolute;
    left: 610px;
    top: 270px;
    justify-content: center;
    align-items: center; 
}
.wiki {
    color: #f38ba8;
    position: absolute;
    left: 720px;
    top: 270px;
    justify-content: center;
    align-items: center; 
}
.social {
    color: #f38ba8;
    position: absolute;
    left: 810px;
    top: 270px;
    justify-content: center;
    align-items: center; 
}
.media {
    color: #f38ba8;
    position: absolute;
    left: 910px;
    top: 270px;
    justify-content: center;
    align-items: center; 
}
.anime {
    color: #f38ba8;
    position: absolute;
    left: 1010px;
    top: 270px;
    justify-content: center;
    align-items: center; 
}
.emails-link { 
    list-style-type: none;
    position: absolute;
    top: 280px;
    left: 550px;
    size: 20%;
    justify-content: center;
    align-items: center; 
}
.emails-link li { 
    margin-top: 5px;
}
.emails-link li a { 
    color: #cdd6f4; 
    text-decoration: none; 
    display: block;
    font-size: 15px;
}
.wiki-link { 
    list-style-type: none;
    position: absolute;
    top: 280px;
    left: 660px;
    size: 20%;
    justify-content: center;
    align-items: center; 
}
.wiki-link li { 
    margin-top: 5px;
}
.wiki-link li a { 
    color: #cdd6f4; 
    text-decoration: none; 
    display: block;
    font-size: 15px;
}
.social-link { 
    list-style-type: none;
    position: absolute;
    top: 280px;
    left: 770px;
    size: 20%;
    justify-content: center;
    align-items: center; 
}
.social-link li { 
    margin-top: 5px;
}
.social-link li a { 
    color: #cdd6f4; 
    text-decoration: none; 
    display: block;
    font-size: 15px;
}
.media-link { 
    list-style-type: none;
    position: absolute;
    top: 280px;
    left: 870px;
    justify-content: center;
    align-items: center;
}
.media-link li { 
    margin-top: 5px;
}
.media-link li a { 
    color: #cdd6f4; 
    text-decoration: none; 
    display: block;
    font-size: 15px;
}
.anime-link {
    list-style-type: none;
    position: absolute;
    top: 280px;
    left: 980px;
    justify-content: center;
    align-items: center; 
}
.anime-link li { 
    margin-top: 5px;
}
.anime-link li a { 
    color: #cdd6f4; 
    text-decoration: none; 
    display: block;
    font-size: 15px;
}
.search-container { 
    width: 100%;
    position: absolute;
    top: 380px;
    left: 600px;
    size: 20%;
    justify-content: center;
    align-items: center; 
}
.search-bar { 
    width: 425px;
    font-size: 15.5px; 
    padding: 10px;
    background-color: #17191e;
    border: 2px solid #2e333f;
    color: white; 
    border-radius: 10px;
}
#clock {
    position: absolute;
    top: 195px;
    left: 74%;
    transform: translateX(-50%);
    font-size: 32px;
    color: #f38ba8;
}
.square {
    background-color: #17191e;
    width: 750px;
    height: 300px;
    position: absolute;
    left: 390px;
    top: 160px;
    justify-content: center;
    align-items: center; 
    border-radius: 15px;
    z-index: -1
}